In [1]:
import pandas as pd

In [2]:
ghi_df = pd.read_csv('./GHI_data.csv')
ghi_df['datetime'] = ghi_df['datetime'].str.replace(r'[^\x20-\x7E]', '', regex=True)
ghi_df['datetime'] = pd.to_datetime(ghi_df['datetime'], format='%d.%m.%Y %H:%M:%S.%f')
ghi_df = ghi_df.drop(columns=['time'])
ghi_df.head()

             datetime  GHI-GhPyr
0 2023-11-02 12:30:00  34.299032
1 2023-11-02 12:45:00  32.472275
2 2023-11-02 13:00:00  30.768546
3 2023-11-02 13:15:00  28.752579
4 2023-11-02 13:30:00  29.879348

In [3]:
# create the weather table with all info 
df = pd.read_csv('./UCY_SM_historical.csv')
df = df.drop_duplicates()
df['datetime'] = df['datetime'].str.replace(r'[^\x20-\x7E]', '', regex=True)
df['datetime'] = pd.to_datetime(df['datetime'], format='%d.%m.%Y %H:%M:%S.%f')
weather_df_0 = pd.read_csv('./UCY_SM_Weather_0.csv')
weather_df_1 = pd.read_csv('./UCY_SM_Weather_1.csv')
weather_df_2 = pd.read_csv('./UCY_SM_Weather_2.csv')
weather_df_3 = pd.read_csv('./UCY_SM_Weather_3.csv')
weather_df_4 = pd.read_csv('./UCY_SM_Weather_4.csv')
weather_df = pd.concat([weather_df_0, weather_df_1, weather_df_2, weather_df_3, weather_df_4], ignore_index=True)
weather_df['datetime'] = pd.to_datetime(weather_df['datetime'])
print(df.shape)
print(weather_df.shape)
df_all = pd.merge(df, weather_df, on='datetime', how='left')
df_all = df_all.sort_values('datetime')
print(df_all.shape)

df.head(10)

(23519, 26)
(23509, 3)
(23522, 28)

,datetime,time,Pac_Total-Meter-1,Pac_Total-Meter-2,Pac_Total-Meter-3,Pac_Total-Meter-4,Pac_Total-Meter-5,Pac_Total-Meter-6,Pac_Total-Meter-7,Pac_Total-Meter-8,...,Pac_Total-Meter-16,Tamb-temp,Total_Pac_MW,Pac_Total-Meter-20,Pac_Total-Meter-21,Pac_Total-Meter-22,Pac_Total-Meter-23,Pac_Total-Meter-24,Pac_Total-Meter-25,Pac_Total-Meter-26
0,2023-11-02 12:30:00,1.698928e+09,0.0,0.0,6580.543945,146154.306641,545.534485,154632.476562,341582.085938,210227.630859,...,249053.390625,26.700325,2.109537,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-11-02 12:45:00,1.698929e+09,0.0,0.0,6164.647852,138720.769792,542.793640,154600.766667,342243.070833,209439.991667,...,270952.384375,26.514621,2.124650,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-11-02 13:00:00,1.698930e+09,0.0,0.0,5521.414941,140820.361458,544.498600,159033.429167,352072.847917,209286.457292,...,261280.787500,26.284468,2.138773,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-11-02 13:15:00,1.698931e+09,0.0,0.0,4166.164941,152438.062500,544.962166,162853.876042,352673.220833,167359.765853,...,263504.102083,26.092514,2.122449,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2023-11-02 13:30:00,1.698932e+09,0.0,0.0,1877.111523,147246.801042,544.050415,477654.273958,395260.043750,1962.361702,...,259831.040625,25.598015,2.322783,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2023-11-02 13:45:00,1.698933e+09,0.0,0.0,948.263293,153443.154167,546.077161,517195.368750,399388.037500,1937.203377,...,262743.665625,25.090870,2.360099,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2023-11-02 14:00:00,1.698934e+09,0.0,0.0,460.277268,153347.144792,549.365515,484668.968750,363191.254167,1941.767472,...,243615.238542,24.552231,2.300510,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2023-11-02 14:15:00,1.698934e+09,0.0,0.0,156.525758,148725.118750,551.372652,452839.472917,333308.262500,1938.934741,...,252862.211458,24.258639,2.259637,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2023-11-02 14:30:00,1.698935e+09,0.0,0.0,-20.261328,143987.943750,548.377816,427139.195833,311365.337500,1924.753247,...,269674.588542,23.931309,2.190267,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2023-11-02 14:45:00,1.698936e+09,0.0,0.0,-39.811919,149432.606250,547.766447,393773.260417,282961.885417,1927.899479,...,264182.232292,23.634685,2.144984,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# add ghi data
df_all = pd.merge(df_all, ghi_df, on='datetime', how='left')
print(df_all.shape)
df_all.head(10)

(23520, 29)

,datetime,time,Pac_Total-Meter-1,Pac_Total-Meter-2,Pac_Total-Meter-3,Pac_Total-Meter-4,Pac_Total-Meter-5,Pac_Total-Meter-6,Pac_Total-Meter-7,Pac_Total-Meter-8,...,Pac_Total-Meter-20,Pac_Total-Meter-21,Pac_Total-Meter-22,Pac_Total-Meter-23,Pac_Total-Meter-24,Pac_Total-Meter-25,Pac_Total-Meter-26,humidity,precipMM,GHI-GhPyr
0,2023-11-02 12:30:00,1.698928e+09,0.0,0.0,6580.543945,146154.306641,545.534485,154632.476562,341582.085938,210227.630859,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,0.0,34.299032
1,2023-11-02 12:45:00,1.698929e+09,0.0,0.0,6164.647852,138720.769792,542.793640,154600.766667,342243.070833,209439.991667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.0,0.0,32.472275
2,2023-11-02 13:00:00,1.698930e+09,0.0,0.0,5521.414941,140820.361458,544.498600,159033.429167,352072.847917,209286.457292,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.0,0.0,30.768546
3,2023-11-02 13:15:00,1.698931e+09,0.0,0.0,4166.164941,152438.062500,544.962166,162853.876042,352673.220833,167359.765853,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.0,0.0,28.752579
4,2023-11-02 13:30:00,1.698932e+09,0.0,0.0,1877.111523,147246.801042,544.050415,477654.273958,395260.043750,1962.361702,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.0,0.0,29.879348
5,2023-11-02 13:45:00,1.698933e+09,0.0,0.0,948.263293,153443.154167,546.077161,517195.368750,399388.037500,1937.203377,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0,0.0,18.340148
6,2023-11-02 14:00:00,1.698934e+09,0.0,0.0,460.277268,153347.144792,549.365515,484668.968750,363191.254167,1941.767472,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0,0.0,9.454964
7,2023-11-02 14:15:00,1.698934e+09,0.0,0.0,156.525758,148725.118750,551.372652,452839.472917,333308.262500,1938.934741,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0,0.0,5.565575
8,2023-11-02 14:30:00,1.698935e+09,0.0,0.0,-20.261328,143987.943750,548.377816,427139.195833,311365.337500,1924.753247,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0,0.0,3.590335
9,2023-11-02 14:45:00,1.698936e+09,0.0,0.0,-39.811919,149432.606250,547.766447,393773.260417,282961.885417,1927.899479,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.0,0.0,2.707926

In [7]:
df_all.sort_values('datetime')
df_all = df_all.drop_duplicates()
print(df_all.shape)
df_all.head(10)
df_all.to_csv('./UCY_SM_historical_with_weather.csv', index=False)

(23520, 29)